{% extends "blog/layout.html" %}

{% block extra_head %}
<style>
img.mb-3 {
    max-width: 100%;
}
.post-map {
    width: 300px;
    height: 300px;
}
</style>

<script>
    $(function() {
        var myLatLng = { lat: -25.363, lng: 131.044 };
        var container = $('.post-map')[0];
        var map = new google.maps.Map(container, {
            zoom: 4,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                    <h2>
                        {{ post.title }}
                    </h2>
                </div>
                <div class="card-body">
                    <small class="card-title">
                        by {{ post.author }}, at {{ post.created_at }}
                    </small>
                    <hr>
                    <p class="card-text">
                        {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="" class="mb-3">
                        {% endif %}

                        <div class="post-map"></div>

                        {{ post.content|linebreaks }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'blog:index' %}" class="btn btn-primary">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}